
/* fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Mulish);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* Styling for all pages */

body{
  margin: 0px;
  padding: 0px;
}

#pageContainer{
  padding: 0px;
  position: relative;
  margin: 0px;
  min-height: 80vh;
}

#contentWrap{
  padding-bottom: 2.5rem;
  margin: 0px;
}

/* Header Styling */

header{
  background-color:;
  /* box-shadow: 5px 0px 5px grey; */
  font-family: 'Open Sans', Condensed;
  height: auto;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: fixed;
  top: 0px;
  text-align: center;
  transition: .3s;
  width: 100%;
  z-index: 3;
}

#logoImage{
  height: 40px;
  width: 175px;
}

.logoDiv{
  display: inline;
  font-size: 15px;
  width: 300px;
}

.headerDiv{
  display: flex;
  margin: 0px 45px;
}

.headerFlex{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 78px;
  justify-content: flex-end;
  width: 100%;
  z-index: 2;
}

.flexItemParent{
  text-decoration: none;
  height: auto;
  margin: 0px 15px;
  width: auto;
}

.headerFlexItem{
  color: #001500;
  height: 100%;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s;
  width: auto;
}

.sticky{
  background-color: white;
  box-shadow: 5px 0px 5px grey;
  opacity: .9;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 100%;
}


/* Main.html Styling */

/* Featured Section Styling */

.mainTopFlex{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 500px;
  justify-content: center;
  margin: 50px 15px;
  padding: 60px 0px;
  width: 100%;
}

.colorBox1{
  background-color: rgb(249, 246, 239);
  height: 650px;
  left: 0;
  padding: 60px 0px;
  position: absolute;
  width: 60%;
  z-index: -1;
}

.colorBox2{
  background-color: rgb(91, 114, 106);
  height: 650px;
  padding: 60px 0px;
  position: absolute;
  right: 0;
  width: 60%;
  z-index: -1;
}

.mainTopFlexChild{
  height: 100%;
  padding: 30px;
  width: 50%;
}

#featuredImage{
  background-image: url("./images/model1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#featuredTextFlex{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.featuredTextChild{
  height: 33%;
  width: 100%;
}

#featuredTextHeading{
  font-family: Oswald;
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

#featuredTextBody{
  font-family: Roboto;
  font-size: 24px;
}

#eyeglassAndLocationFlex{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.featuredButtons{
  background-color: white;
  border-color: #000023;
  border-radius: 3px;
  box-shadow: none;
  /* border-style: solid;
  border-width: thin; */
  color: black;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 12px 5%;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: .1s;
}


/* Bottom Half of Main Styling */


/* Best Sellers Section */

.bestSellersHeading{
  font-family: Oswald;
  letter-spacing: 2px;
  margin: 35px;
  margin-top: 150px;
  text-align: center;
}

.bestSellersFlex{
  display: flex;
  flex-direction: row;
}

.bestSellersChild{
  border-left-style: solid;
  border-left-width: thin;
  border-right-style: solid;
  border-right-width: thin;
  height: auto;
  margin: 25px 35px;
  transition: .1s;
  width: 33%;
}

#bsChildFlex{
  display: flex;
  flex-direction: row;
}

.bsGrandchild{
  height: auto;
  width: 50%;
}

#bsImage1{
  background-image: url("./images/glasses2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bsImage2{
  background-image: url("./images/glasses4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bsImage3{
  background-image: url("./images/glasses6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bsGrandchildFlex{
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
}

.bsBaby{
  height: auto;
  margin: 10px;
  width: auto;
}

#bsProductHeader{
  font-family: Ubuntu;
}

#bsProductBody{
  font-family: Montserrat;
}

#bsProductPrice{
  font-family: sans-serif;
}


/* Main Bottom Flex */

.mainBottomFlex{
  /* background-color: lightblue; */
  border-bottom-color: #CCCCCC;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-top-color: #CCCCCC;
  border-top-style: solid;
  border-top-width: thin;
  display: flex;
  flex-direction: row;
  height: 350px;
  margin: 50px 0px;
  margin-top: 100px;
  padding: 100px 15px;
}

.mainBottomChildren{
  margin: 25px;
  width: 50%;
}

.ourStoryHeading{
  font-family: Montserrat;
  font-size: 30px;
  text-transform: capitalize;
}

.ourStoryBody{
  font-family: Ubuntu;
  font-size: 18px;
}

#ourStoryImage{
  background-image: url("./images/miami.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Visit Us MAIN Flex */

.locationWrapperMain{
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}

.locationHeaderMain{
  font-family: Oswald;
  font-weight: lighter;
  padding-top: 75px;
}

.locationInfoFlexMain{
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  margin: auto;
  width: 55%;
}

.locationInfoChildMain{
  width: 50%;
}


/* Lenses HTML Styling */

/* Showcase Heading Styling */

.eyeglassHeaderContainer1{
  background-image: url('./images/windowBackground.jpg');
  background-position: 23% 80%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* margin-top: 75px; */
  padding: 75px 15px;
  width: auto;
}

.eyeglassHeaderContainer{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-bottom-color: #AAAAAA;
  border-bottom-style: solid;
  border-bottom-width: thin; */
  border-top-color: #AAAAAA;
  border-top-style: solid;
  border-top-width: thin;
  /* margin-top: 75px; */
  padding: 75px 15px;
  width: auto;
}

.eyeglassesHeader{
  font-family: Oswald;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.eyeglassesHeaderBody{
  font-family: Roboto;
  text-align: center;
}

/* Eyeglass Display */

.showcaseFlexVertical{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcaseFlexHorizontal{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.showcaseFlexVerticalChild{

}

/* Eyeglass showecase individual displays */

#showcaseFlexIndividual1{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#showcaseFlexIndividual2{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#showcaseFlexIndividual3{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#showcaseFlexIndividual4{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#showcaseFlexIndividual5{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#showcaseFlexIndividual6{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

.showcaseFlexHorizontalChild{

}

.showcaseFlexIndividualChild{

}

/* Brand Showcase Individual Displays */

#brandShowcaseFlexIndividual1{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#brandShowcaseFlexIndividual2{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#brandShowcaseFlexIndividual3{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

/* Accessorie Showcase Individual Displays */

#accessoriesShowcaseFlexIndividual1{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#accessoriesShowcaseFlexIndividual2{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

#accessoriesShowcaseFlexIndividual3{
  align-items: center;
  /* border-color: lightgrey;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 1px 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 25px 75px;
  width: 33%;
}

/* SHOWCASE IMAGES */

#showcaseImage1{
  background-image: url("./images/glasses1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#showcaseImage2{
  background-image: url("./images/glasses2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#showcaseImage3{
  background-image: url("./images/glasses3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#showcaseImage4{
  background-image: url("./images/glasses4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#showcaseImage5{
  background-image: url("./images/glasses5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#showcaseImage6{
  background-image: url("./images/glasses6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}



#showcaseHeading{
  font-family: Roboto;
  font-size: 13px;
  text-align: center;
}

#showcaseBody{
  font-family: Lato;
  text-align: center;
}


/* BRANDS IMAGES */

#brandImage1{
  background-image: url("./images/brandGlasses1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#brandImage2{
  background-image: url("./images/brandGlasses2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#brandImage3{
  background-image: url("./images/brandGlasses3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}


/* ACCESSORIES IMAGES */

#accessoriesImage1{
  background-image: url("./images/accessoriesImage1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#accessoriesImage2{
  background-image: url("./images/accessoriesImage2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}

#accessoriesImage3{
  background-image: url("./images/accessoriesImage3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
}


/* Modal Styling */

.modal{
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#showcaseModal{
  display: none;
}

.modalContent{
  align-items: stretch;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15% auto;
  padding: 0px;
  width: 60%;
}

.modalChild{
  height: 100%;
  width: 50%
}

#modalImage1{
  background-image: url("./images/glassesHeldUp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: auto;
  width: 100%;
}

#modalText{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}



/* LOCATION PAGE STYLING */

.locationWrapper{
  text-align: center;
  margin: 75px 0px;
  width: 100%;
}

/* .locationImageWrapper{
  background-image: url("./images/miami2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.locationHeader{
  font-family: Ubuntu;
}

.locationInfoFlex{
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  margin: auto;
  width: 55%;
}

.locationInfoChild{
  width: 33%;
}

/* LOCATIONS MAPS SECTION */

.mapSectionDiv{
  margin: 10px 0px;
}

#googleMap{
  height: 400px;
  margin-bottom: 50px;
  width: 100%;
}

.openInMaps{
  margin: 10px auto;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.openInMaps a{
  color: blue;
  font-family: Lato;
  margin: 0px 5px;
  text-decoration: none;
  text-transform: capitalize;
}

/* FORM AND IMAGE STYLING */

.locationTopFlex{
  display: flex;
  flex-direction: row;
}

.locationTopFlexChild{
  width: 50%;
}

#topFlexImage{
  background-image: url("./images/glassesHeldUp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  margin-top: 80px;
  margin-right: 20px;
}

.formHeading{
  font-family: Ubuntu;
  text-align:;
}

#formContainer{
  height: auto;
  margin-right: 20px;
  margin-top: 80px;
  width: 60%;
}

.contactForm{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.names{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  padding: 0px;
  width: 100%
}

#firstName{
  align-self: flex-start;
  margin-right: 5px;
  width: 50%;
}

#lastName{
  align-self: flex-end;
  margin-left: 5px;
  width: 50%;
}

.names input{
  padding: 15px;
}

input{
  margin: 10px 5px;
  padding: 15px;
}

textarea{
  font-size: 15px;
  margin: 10px 5px;
  padding: 15px;
}

input[type=submit] {
  align-self: flex-end;
  background-color: black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 25px;
  text-transform: uppercase;
  transition: .2s;
  width: 20%;
}


/* SERVICES STYLING */

.servicesFlex{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}

.servicesFlexChild{
  width: 33%;
}

#sectionFlex{
  display: flex;
  flex-direction: column;
}

.sectionFlexChild{
  width: 100%
}

#sectionImage1{
  background-image: url("./images/model1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  min-height: 100%;
}

#sectionImage2{
  background-image: url("./images/fallingGlasses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#sectionImage3{
  background-image: url("./images/miami2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#sectionText1{
  background-color: lightblue;
  padding: 30px 0px;
  text-align: center;
}

#sectionText2{
  background-color: #EEDD77;
  padding: 30px 0px;
  text-align: center;
}

#sectionText3{
  background-color: #FFEEEE;
  padding: 30px 0px;
  text-align: center;
}

.sectionHeader{
  font-family: Ubuntu;
  font-weight: 100;
  letter-spacing: 1px;
}

.sectionBody{
  font-family: Montserrat;
}

/* Appointment Button */

.bookAppointment{
  margin: 50px;
  text-align: center;
}

.bookAppointment button{
  font-family: Ubuntu;
  font-size: 25px;
  padding: 15px 30px;
  text-transform: uppercase;
}


/* Footer Styling */

footer{
  background-color: #CCCCCC;
  bottom: 0;
  height: 2.5rem;
  margin-top: 25px;
  position: absolute;
  width: 100%;
}

.footerFlex{
  background-color: #CCCCCC;
  color: #444455;
  display: flex;
  flex-direction: row;
  font-family: Ubuntu;
  width: 100%;
}

.footerFlexChild{
  margin: 15px 25px;
  width: auto;
}

#footerContactFlex{
  display: flex;
  flex-direction: column;
}

#footerContactHeader{
  font-size: 16px;
  text-transform: uppercase;
}

#footerAddress{
  text-transform: capitalize;
}

#footerEmailAndNumber{
  letter-spacing: 1px;
}

#quickAccessFlex{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

.quickAccessChild{
  height: auto;
  margin: 10px 5px;
  width: auto;
}

.quickAccessChild a{
  color: #444455;
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}

#socialFlex{
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 25px;
}

.socialFlexChild{
  color: #444455;
  display: inline;
  margin: 0px 10px;
}

.socialFlexChild a{
  text-decoration: none;
}

.socialFlexChild h2{
  text-decoration: none;
}


/* All Hover Styling */

/* Header Hover Styling */

.headerFlexItem:hover{
  /* color: #1761a0; */
  font-weight: bold;
}

/* Featured Buttons Hover Styling */

.featuredButtons:hover{
  background-color: lightgrey;
}

/* Best Sellers Hover Styling */

.bestSellersChild:hover{
  opacity: .75;
}

/* Contact Form Hover Styling */

input[type=submit]:hover{
  box-shadow: 0px 0px 5px lightgrey;
  color: black;
  background-color: white;
  border-color: black;
}


/* Footer Hover Styling */

.quickAccessChild a:hover{
  letter-spacing: 2px;
  text-shadow: 0px 0px 1px black;
}
